<% if @participation.errors.any? %>
    <div style="color:red;" id="error_explanation">
        <h2>Formato invalido</h2>
        <ul>
            <% @participation.errors.full_messages.each do |message| %>
                <li class ="err-list"><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>
