<!-- Esta pagina tem como fim apenas mostrar os usuarios que foram salvos no
banco local, possivelmente não haverá aplicação para a mesma -->
<p id="notice"><%= notice %></p>

<h1>Participantes</h1>

<table>

  <tbody>
    <% @participations.each do |participation| %>
      <tr>
        <td><%= participation.user.complete_name %></td>
        <td><%= participation.cap_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Sign up', new_user_path %>
