<%= form_for(@user) do |f| %>
<!-- HTML responsavel por mostrar os erros -->
    <% if @user.errors.any? %>
        <div style="color:red;" id="error_explanation">
            <h2>Formato invalido</h2>
            <ul>
                <% @user.errors.full_messages.each do |message| %>
                    <li class ="err-list"><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
<% end %>
