<%= render 'layouts/inner_header' %>

<div id="signup">
  <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp"
      data-wow-duration="1200ms" data-wow-delay="300ms">
    <h2>Redefinir Senha </h2>
    <p>Insira seu e-mail para redefinir sua senha</p>
    <p>Você recebera uma chave para redefinir sua senha</p>
  </div>

<%= form_tag password_resets_path, :method => :post do%>
  <%= text_field_tag :email, params[:email], placeholder: 'Email  ' %>
  <%= submit_tag "Redefinir senha" %>
<% end %>
</div>
