<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <p>Olá <%= @user.complete_name %>,</p>
      <p>
          Para redefinir sua senha, clique no link abaixo.
      </p>
      <p><%= edit_password_reset_url(@user.password_reset_token) %></p>

  </body>
</html>
