<div class="row">
  <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
    <h1>Contato</h1>
    <h3>Nos dê a oportunidade de tirar suas dúvidas</h3>
      <h3>Não seja tímido!</h3>
  </div>
</div>
<div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
  <div class="row">
    <div class="col-sm-6">
      <form id="main-contact-form" name="contact-form" method="post" action="#">
        <div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
          <div class="col-sm-6">
            <div class="form-group">
              <input name="name" class="form-control" placeholder="Nome" required="required">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <input type="email" name="email" class="form-control" placeholder="Endereço de Email" required="required">
            </div>
          </div>
        </div>
        <div class="form-group">
          <input name="subject" class="form-control" placeholder="Assunto" required="required">
        </div>
        <div class="form-group">
          <textarea name="message" id="message" class="form-control" rows="4" placeholder="Escreva sua mensagem" required="required"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn-submit">Envie agora</button>
        </div>
      </form>
    </div>
    <div class="col-sm-6">
      <div class="contact-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <p>A NewCap está nas redes sociais. Curta nossas páginas e fique por dentro de tudo que acontece na NewCap! </p>
        <ul class="address">
          <li><i class="fa fa-map-marker"></i> <span> Endereço:</span> Brasília </li>
          <li><i class="fa fa-phone"></i> <span> Telefone:</span> +55 61 92265142  </li>
          <li><i class="fa fa-envelope"></i> <span> Email:</span><a href="mailto:someone@yoursite.com"> newcap@thenewcap.com</a></li>
          <li><i class="fa fa-globe"></i> <span> Website:</span> <a href="#">www.thenewcap.com</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
