  <div class="row">
    <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
      <h2>Expositor</h2>
      <h3>Imagine se você pudesse ensinar em qualquer lugar do mundo, sem restrições...</h3>
      <h3>Crie o projeto, escolha o local e faça isso!</h3>
      <p>Faça parte da NewCap e ajude a conectar pessoas pelo conhecimento.</p>
      <p>Para ser um Expositor com a NewCap você não precisa ser ligado a nenhuma instituição de ensino, possuir certificações e muito menos de uma sala de aula convencional. </p>
    </div>
  </div>
  <div class="blog-posts">
    <div class="row">
      <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">
        <div class="post-thumb">
          <%= image_tag("shutterstock_159632543.jpg", class: 'img-responsive')%>
        </div>
        <div class="entry-header">
          <h3><a href="#">Crie seu cap</a></h3>
        </div>
        <div class="entry-content">
          <p>Crie seu cap de um jeito simples e rápido. Utilize nosso template e recomende materiais de referência e pesquisa, assim os participantes poderão estudar antes.</p>
        </div>
      </div>
      <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
        <div class="post-thumb">
            <%= image_tag("shutterstock_219009229.jpg", class: 'img-responsive')%>
        </div>
        <div class="entry-header">
          <h3><a href="#">Escolha o local</a></h3>
        </div>
        <div class="entry-content">
          <p>Uma sala de aula é o melhor local para aprender? Se for, marque lá. Mas caso não, escolha o lugar que combine melhor com a sua proposta. Um parque, um museu, um café, qualquer lugar que você ache que vá contribuir para a experiência de todos. </p>
        </div>
      </div>
      <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="800ms">
        <div class="post-thumb">
          <%= image_tag("shutterstock_233553616.jpg", class: 'img-responsive')%>
        </div>
        <div class="entry-header">
          <h3><a href="#">Dê o seu preço</a></h3>
        </div>
        <div class="entry-content">
          <p>Tudo tem um preço, e nós sabemos disso. Diga qual é o seu, indique o número mínimo de participantes e diga quanto vai custar para cada um. Mas se seu preço for apenas a experiência de conhecer novas pessoas, marque o campo gratuito. </p>
        </div>
      </div>
    </div>
  </div>
