<header id="home">
  <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active" style="background-image: url('/assets/shutterstock_307873628.jpg');">
        <div class="caption">
          <h1 class="animated fadeInLeftBig">Bem vindo a <span>NewCap</span></h1>
          <p class="animated fadeInRightBig">Conectando pessoas pelo conhecimento</p>
          <a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">Entrar</a>
        </div>
      </div>
      <div class="item" style="background-image: url('/assets/shutterstock_234372322.jpg');">
        <div class="caption">
          <h1 class="animated fadeInLeftBig">Seja um <span>Participante</span></h1>
          <p class="animated fadeInRightBig">Aprenda em qualquer lugar do mundo o que quiser</p>
          <a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">Experimente</a>
        </div>
      </div>
      <div class="item" style="background-image: url('/assets/shutterstock_217119211.jpg');">
        <div class="caption">
          <h1 class="animated fadeInLeftBig">Ou seja um <span>Expositor</span></h1>
          <p class="animated fadeInRightBig">Ensine em qualquer lugar do mundo no horário que quiser</p>
          <a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">Ensine agora</a>
        </div>
      </div>
    </div>
    <a class="left-control" href="#home-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
    <a class="right-control" href="#home-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>

    <a id="tohash" href="#blog"><i class="fa fa-angle-down"></i></a>

  </div><!--/#home-slider-->
  <div class="main-nav">
    <div class="container">
      <%= render "layouts/header"%>
    </div>
  </div><!--/#main-nav-->
</header><!--/#home-->
