<div class="row">
  <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
    <h2>Participante</h2>
    <p>Imagine se você pudesse aprender em qualquer lugar do mundo, sem restrições...</p>
    <p>Escolha o que, quando e onde e faça isso!</p>
    <p>Aprenda sobre diferentes assuntos com diferentes pessoas. Para participar dos nossos caps você não precisa ser ligado a nenhuma instituição de ensino, nem possuir certificações. É só entrar na nossa Prateleira e escolher o cap que mais se parece com você. </p>
    <p>Todos os usuários da NewCap possuem track records de quantidade de caps e horas assistidas, que podem ser usados em promoções na NewCap. Quanto mais você quiser aprender, melhor para você em todos os sentidos.</p>
    <p>Vamos lá, participe de um cap!</p>
  </div>
</div>
<div class="blog-posts">
  <div class="row">
    <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">
      <div class="post-thumb">
        <%= image_tag("shutterstock_267954611.jpg", class: 'img-responsive')%>

      </div>
      <div class="entry-header">
        <h3><a href="#">Escolha o cap pela área do conhecimento, formato, expositor, hora, preço ou local</a></h3>
      </div>
      <div class="entry-content">
        <p>Escolha o cap de um jeito simples e rápido. Estude materiais recomendados e faça suas sugestões ao expositor.</p>
      </div>
    </div>
    <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
      <div class="post-thumb">
        <div id="post-carousel"  class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="item active">
              <%= image_tag("shutterstock_217847221.jpg", class: 'img-responsive')%>
            </div>
          </div>
        </div>


      </div>
      <div class="entry-header">
        <h3><a href="#">Sinta a experiência de estudar no local que maximizará seu aprendizado</a></h3>
      </div>
      <div class="entry-content">
        <p>Aprender está ligado à experiências e conteúdo. Tenha aulas em museus, parques, em casa ou até mesmo em cafés. </p>
      </div>
    </div>
    <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="800ms">
      <div class="post-thumb">
        <%= image_tag("shutterstock_234385096.jpg", class: 'img-responsive')%>

      </div>
      <div class="entry-header">
        <h3><a href="#">Mais barato que escolas convencionais e mais social que cursos online</a></h3>
      </div>
      <div class="entry-content">
        <p>Participe de cursos, conversas, debates à sua escolha. Aproveite ao máximo essa experiência. </p>
      </div>
    </div>
  </div>
</div>
