<div class="col-sm-3">
    <div class="profile-bar">
        <div class="profile-image">
            <%= link_to image_tag(
                current_user.profile_image_file_name.blank? ? "profile/default" : current_user.profile_image.url, alt: "Profile image"), "/users/#{current_user.id}" %>
        </div>
        <div>
            <p id="user-name"><%= current_user.complete_name %></p>
            <p><strong>Nível:</strong> XXXXX</p>
        </div>
    </div>
</div>
