<div class="col-sm-3">
    <div class="profile-bar">
        <div class="profile-image">
            <%= link_to image_tag(
                current_user.profile_image_file_name.blank? ? "profile/default" : current_user.profile_image.url, alt: "Profile image"), "/users/#{current_user.id}" %>
        </div>
        <div>
            <p id="user-name"><%= current_user.complete_name %></p>
            <p class="white-font"><strong>Nível:</strong> XXXXX</p>
            <% if logged_in? && current_user = @user %>

            <div>
              <%= link_to 'Criar Cap', new_cap_path, class: 'white-font' %>
            </div>
            <div>
              <%= link_to "Editar Perfil", edit_user_path, class: "white-font" %>
            </div>
            <% end %>
        </div>
    </div>
</div>
