<%= form_for(@cap) do |f| %>
    <% if @cap.errors.any? %>
        <div style="color:red;" id="error_explanation">
            <h2>Não foi possível criar o Cap,
                <%= pluralize(@cap.errors.count, "erro", "erros") %> encontrados
            </h2>

            <ul>
                <% @cap.errors.full_messages.each do |message| %>
                    <li class ="err-list"><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
<% end %>
