// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile-bar {
    background: #028fcc none repeat scroll 0% 0%;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    color: #333;
    text-align: center;
    padding: 20px 0px 20px 0px;
    height: 100%;
}
.profile-bar p#user-name {
    color: white;
    border-bottom: 1px solid white;
    font-size: 1.2em;
    font-weight: 600;
    margin-top: -10px;
    padding-bottom: 4px;
}

.profile-bar .profile-image {
  border-radius: 5px;
  height: 13em;
  width: 13em;
  margin: auto;
  overflow: hidden;
}

.profile-bar .profile-image img {
  margin: 0px auto;
  width: 95%;
  height: 95%;
  border-radius: 15% !important;
}

.content {
  background: white none repeat scroll 0% 0%;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
  padding-bottom: 1.2em;
}
.main-content {
  padding-right: 4em;
  padding-left: 4em;
  padding-top: 1em;
}
