<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <p>Hi <%= @user.complete_name %>,</p>
      <p>
          Thanks for registering in New Cap!
          Please, confirm your registration click the URL below.
      </p>
      <p><%= confirm_email_user_url(@user.confirm_token) %></p>

  </body>
</html>
